<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.apps.poll.dao.QuestionMapper">
  <select id="findAll" resultType="com.briup.apps.poll.bean.Question">
    select * from poll_question
  </select>
  <delete id="deleteById" parameterType="long">
    delete from poll_question where id= #{id}
  </delete>
  <insert id="save" parameterType="com.briup.apps.poll.bean.Question">
    insert into poll_question values(null,#{name},#{questionType})
  </insert>
  <update id="update" parameterType="com.briup.apps.poll.bean.Question">
    update poll_question set name=#{name},questionType=#{questionType} where id=#{id}
  </update>
</mapper>