<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.apps.poll.dao.QuestionnaireMapper">
  <select id="findAll" resultType="com.briup.apps.poll.bean.Questionnaire">
    select * from poll_questionnaire
  </select>
  <delete id="deleteById" parameterType="long">
    delete from poll_questionnaire where id= #{id}
  </delete>
  <insert id="save" parameterType="com.briup.apps.poll.bean.Questionnaire">
    insert into poll_questionnaire values(null,#{name},#{description})
  </insert>
  <update id="update" parameterType="com.briup.apps.poll.bean.Questionnaire">
    update poll_questionnaire set name=#{name},description=#{description} where id=#{id}
  </update>
</mapper>